h1{
    color : purple;
}

#heading-2{
    color : blue;
}
.heading{
    color: yellowgreen;
}
.para{
    border: 2px;
    border-color: black;
    border-style: solid;
    padding: 20px;
    text-align: center;
}